@media screen and (max-width: 414px){
	.header__first_block{
		width: 38%;
	}
	.header__second_block{
		display: none;
	}
	.header__third_block{
		width: 58%;
	}
	.main__7_block {
		display: none;
	}
	aside{
		display: none;
	}
	.main__5_block{
		margin: 0 auto;
		padding: 0 auto;
		float: none;
		width: 100%;
	}
	.gallery{
		float:none;
		padding: 0 auto;
		width: 100%;
	}
	.item{
		width: 30%;
		margin-bottom: 2%;
		vertical-align: middle;
	}
	.main__8_block{
		width: 48%;
		margin-left: 1%;
	}
	.main__9_block{
		width: 48%;
		margin-right: 1%;
	}
	.footer_container_blocks_10_11{
		width: 100%;
	}

	.footer_container_blocks_12_13{
		display: none;
	}
	
}
@media screen and (min-width: 1400px){
	.wrapper{
		min-width: 80%;
		height: 100%;
	}

}